[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim-kormode"]
	path = bundle/vim-kormode
	url = https://github.com/dalguji/vim-kormode
[submodule "bundle/vim-kormode"]
	path = bundle/vim-kormode
	url = https://github.com/dalguji/vim-kormode
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-do"]
	path = bundle/vim-do
	url = https://github.com/joonty/vim-do
